<div>
    <div class="row">
        <div class="col-md-4">
            <div class="container user-photo">
                <p>
                    <img src="../../../assets/user-icon.png">
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container user-photo">
                <p>
                    <img src="../../../assets/user-icon.png">
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container user-photo">
                <p>
                    <img src="../../../assets/user-icon.png">
                </p>
            </div>
        </div>
    </div>
</div>
