<div>
    <!--
        This Block is to get the fields like S.no, Date, To, GSTIN
    -->

    <div class="topic">
        <h3>New Bill</h3>
    </div>
    <div class="bill_header">
        <div class="row">
            <div class="col-md-6">
                <div class="row row_additional form-group">
                    <label for="bill_no" class="col-md-2 col-form-label"><b>Bill no :</b></label>
                    <input class="col-md form-control" [(ngModel)]="billNo" type="number" id="bill_no">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row row_additional form-group">
                    <label for="date" class="col-md-2 col-form-label"><b>Date :</b></label>
                    <input class="col-md form-control" [(ngModel)]="date" type="date" id="date">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row row_additional form-group">
                    <label for="to" class="col-md-2 col-form-label"><b>To :</b></label>
                    <input class="col-md form-control" [(ngModel)]="to" type="text" id="to">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row row_additional form-group">
                    <label for="gstin" class="col-md-2 col-form-label"><b>GSTIN :</b></label>
                    <input class="col-md form-control" [(ngModel)]="gstin" type="text" id="gstin">
                </div>
            </div>
        </div>
    </div>

    <!--
        This block is to get the order items upto maximum of 10 items per bill
    -->
    <div class="bill_orders">
        <div *ngIf="!isOrderItemsEmpty">
            <div class="row">
                <div class="col-md-1"><b>S.no</b></div>
                <div class="col-md-5"><b>Particulars</b></div>
                <div class="col-md-2"><b>HSN Code</b></div>
                <div class="col-md-1"><b>Quantity</b></div>
                <div class="col-md-1"><b>Unit</b></div>
                <div class="col-md-1"><b>Rate</b></div>
                <div class="col-md-1"><b>Total</b></div>
            </div>
            <div class="row" *ngFor="let orderitem of orderItems">
                <div class="col-md-1">{{orderitem.sNo}}</div>
                <div class="col-md-5">{{orderitem.particulars}}</div>
                <div class="col-md-2">{{orderitem.hsnCode}}</div>
                <div class="col-md-1">{{orderitem.quantity}}</div>
                <div class="col-md-1">{{orderitem.qUnit}}</div>
                <div class="col-md-1">{{orderitem.rate}}</div>
                <div class="col-md-1">{{orderitem.total}}</div>
            </div>
        </div>

        <button *ngIf="showAddButton" class="add_button btn-secondary col-md-6 text-light" (click)="open_new_item_modal(new_item)">Add
            Item</button>

        <ng-template #new_item>
            <!-- Modal header -->
            <div class="modal-header">
                <h5 class="modal-title" id="add_new_order">Add order</h5>
                <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container">
                    <div class="row row_additional form-group">
                        <label for="particulars" class="col-md-2 col-form-label"><b>Particulars :</b></label>
                        <textarea class="col-md form-control ml-2" [(ngModel)]="particulars" rows="3"
                            id="particulars"></textarea>
                    </div>
                    <div class="row row_additional form-group">
                        <label for="hsn_code" class="col-md-2 col-form-label"><b>HSN Code :</b></label>
                        <input class="col-md form-control ml-2" [(ngModel)]="hsnCode" type="number" id="hsn_code">
                    </div>
                    <div class="row row_additional form-group">
                        <label for="quantity" class="col-md-2 col-form-label"><b>Quantity :</b></label>
                        <input class="col-md-6 form-control ml-2" [(ngModel)]="quantity" type="number" id="quantity">
                        <select class="browser-default custom-select col-md form-control ml-2" [(ngModel)]="qUnit">
                            <option><b>Meter</b></option>
                            <option><b>Kilogram</b></option>
                            <option><b>Sample</b></option>
                        </select>
                    </div>
                    <div class="row row_additional form-group">
                        <label for="rate" class="col-md-2 col-form-label"><b>Rate</b> :</label>
                        <input class="col-md form-control ml-2" [(ngModel)]="rate" type="number" id="rate">
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cancel</button>
                <form (ngSubmit)="addItem()">
                    <button type="submit" class="btn btn-primary">Add item</button>
                </form>
            </div>
        </ng-template>
    </div>

    <!--
        This block is to calculate the total including GST
    -->
    <div class="bill_footer container">
        <div class="row row_additional form-group">
            <label for="taxable_amount" class="col-md-4 col-form-label"><b>Taxable amount :</b></label>
            <input class="col-md form-control ml-2" [(ngModel)]="taxableAmount" type="text" id="taxable_amount">
        </div>
        <div class="row row_additional form-group">
            <label for="sgst" class="col-md-4 col-form-label"><b>SGST (2.5%) :</b></label>
            <input class="col-md form-control ml-2" [(ngModel)]="sgst" type="text" id="sgst">
        </div>
        <div class="row row_additional form-group">
            <label for="cgst" class="col-md-4 col-form-label"><b>CGST (2.5%) :</b></label>
            <input class="col-md form-control ml-2" [(ngModel)]="cgst" type="text" id="cgst">
        </div>
        <div class="row row_additional form-group">
            <label for="round_off" class="col-md-4 col-form-label"><b>Round off :</b></label>
            <input class="col-md form-control ml-2" [(ngModel)]="roundOff" type="text" id="round_off">
        </div>
        <div class="row row_additional form-group">
            <label for="grand_total" class="col-md-4 col-form-label"><b>Grand total :</b></label>
            <input class="col-md form-control ml-2" [(ngModel)]="grandTotal" type="text" id="grand_total">
        </div>
        <div class="row row_additional form-group">
            <label for="amount_in_words" class="col-md-4 col-form-label"><b>Amount in words:</b></label>
            <div class="col-md ml-2">{{amountInWords}}</div>
        </div>
    </div>
</div>